default:
  image: alpine

stages:
  - build
  - test
  - deploy

build_app:
  stage: build
  script:
    - echo "Building the application"

release_notes:
  stage: build
  script:
    - echo "Creating the release notes"
    - sleep 30

test_app:
  stage: test
  script:
    - echo "Testing the app"
  needs:
    - build_app  # This job can only start after build_app job completed. It doesn't have to wait for completion of release_notes job.

test_stuff:
  stage: test
  script:
    - echo "Testing the the app and the release notes"  

unit_tests:
  stage: test
  script:
    - echo "Running the unit tests"
  needs: [] # It doesn't need any dependencies. So it don't have to wait for any job during pipelinen execution. 


linter:
  stage: test
  script:
    - echo "Running the linter"

deploy:
  stage: deploy
  script:
    - echo "Deploying to production"
  needs:
    - test_app
    - unit_tests  