
   #component: $CI_SERVER_FQDN/components/code-quality/code-quality@1.0.4

include:
  - component: gitlab.com/components/code-quality/code-quality@<VERSION>
    inputs:
      stage: build

build_car:
  image: alpine
  stage: build
  script:
    - echo "My car" > car.txt
  artifacts:
    paths:
      - car.txt

test_car:
  image: alpine
  stage: test
  script:
    - test -f car.txt