# OpenAI platform Documentation URL: https://platform.openai.com/docs/quickstart?api-mode=chat&lang=curl&input-type=image-url

# If you have multi line commands in scripts, YAML wouldn't understand it. For fix it, use built in function that is 
# multi-line stream feature. For solving it we just use pipe "|"
api_call_job:
  image: alpine
  variables:
    OPENAI_API_KEY: ""
  before_script:
    - apk add curl
  script:
    - echo "Calling the OpenAI API ..."
    - chmod +x script.sh  # script.sh dosyasına execute (çalıştırma) izni verir
    - ./script.sh
    - |
      curl "https://api.openai.com/v1/responses" \
      -H "Content-Type: application/json" \
      -H "Authorization: Bearer $OPENAI_API_KEY" \
      -d '{
          "model": "gpt-5",
          "input": [
              {
                  "role": "user",
                  "content": [
                      {
                          "type": "input_text",
                          "text": "What is in this image?"
                      },
                      {
                          "type": "input_image",
                          "image_url": "https://openai-documentation.vercel.app/images/cat_and_otter.png"
                      }
                  ]
              }
          ]
      }'