.dependencies: &dependencies
    - echo "Installing dependencies"

.job_template: &my_job_template # anchor → tekrar kullanılacak job şablonunu tanımlar
  image: alpine
  before_script:
  - echo "Installing dependencies"

job_1_new:
  <<: *my_job_template # alias → anchor’daki içeriği buraya kopyalar
  script:
    - echo "Job 1"  

job_2_new:
  <<: *my_job_template 
  script:
    - echo "Job 2"

job_1:
 image: alpine
 before_script: *dependencies
 script:
   - echo "Job 1"


job_2:
 image: alpine
 before_script:
   - echo "Installing dependencies" 
 script:
   - echo "Job 2"