# 1) RETRYING FAILED JOBS AUTOMATICALLY:
# Yani bu kısım aslında rastgele bir test simülasyonu ve başarısız olduğunda otomatik retry denemesi yapıyor.

build_job:
  image: alpine
  stage: build
  script:
    - echo "Building..."

test_job:
  image: ubuntu
  stage: test
  script:
    - echo "Testing..."
    # Rastgele bir sayı üretiyoruz ve bu sayı çiftse testi başarısız sayıyoruz  
    # RANDOM 0-32767 arasında rastgele bir sayı üretir
    - if ((RANDOM %2 == 0)); then exit 1; else exit 0; fi  
  retry: 2   # Eğer job başarısız olursa GitLab job'u 2 kere daha deneyecek 
  # Bu, özellikle testlerde geçici hatalar olabileceği durumlarda işe yarar.