api-tests:
  image: node:22-alpine
  stage: test
  before_script:
    - npm install -g newman newman-reporter-htmlextra
  script:
    - newman run collection.json -r htmlextra --reporter-htmlextra-export ./newman/index.html
  pages:
    publish: newman