test_arm64:
  image: arm64v8/ubuntu:latest
  tags:
    - saas-linux-small-arm64
  script:
    - echo "Running on arm64 architecture"
    - uname -m

# Gitlab Runner Tags: https://docs.gitlab.com/ci/yaml/#tags
# Gitlab Hosted Runners: https://docs.gitlab.com/ci/runners/hosted_runners/linux/    